<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la tienda de</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="conrtainer-main">
        <h1>Bienvenido a la tienda de productos</h1>
        <div class="btn-bienvenida">
            <a href="/views/crearAcc" class="btn-crearcuenta">Crear cuenta</a>
            <a href="/views/iniciarSs" class="btn-iniciarss">Iniciar sesión</a>
        </div>
    </div>
</body>
</html>