<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="carrito-container">
        <h1>Tu carrito de compras</h1>
        <div class="carrito-items">
            <% if(carrito.length === 0) { %>
                <p>Tu carrito está vacío.</p>
            <% } else { %>
                <% carrito.forEach(function(item) { %>
                    <div class="carrito-item">
                        <h2><%= item.nombre %></h2>
                        <p>Cantidad: <%= item.cantidad %></p>
                        <p>Precio: $<%= item.precio %></p>
                        <p>Categoria: <%= item.categoria %></p>
                    </div>
                <% }); %>
            <% } %>
            <button id="clear-cart-btn">Vaciar carrito</button>
            <button id="checkout-btn">Proceder al pago</button>
        </div>
    </div>
</body>
</html>