<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
</head>
<body>
    <div class="container-form">
        <h2>Crear cuenta</h2>
        <form action="/crearAcc" method="POST">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" onkeypress="verificar(event)" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electr칩nico:</label>
                <input type="email" id="email" name="email" onkeypress="verificarCorreoE(event)" required>
            </div>
            <div class="form-group">
                <label for="password">Contrase침a:</label>
                <input type="password" id="password" name="password" onkeypress="verificar(event)" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar contrase침a:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" onkeypress="verificar(event)" required>
            </div>
            <button type="submit" onsubmit="return validarCrearCuenta()">Crear cuenta</button>
            <div><h3>Tienes una cuenta? <a href="" class="btn-iniciarss">Inicia sesi칩n</a></h3></div>
        </form>
        <a href="" class="btn-regresar" >Regresar a la bienvenida</a>
    </div>
</body>
</html>