<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar tu cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-form">
        <h2>Edita tu cuenta</h2>
        <form action="/editarAcc" method="POST">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" onkeypress="verificar(event)" required value="<%= usuario.UserName %>">
            </div>
            <div class="form-group">
                <label for="password">Contrase単a:</label>
                <input type="password" id="password" name="password" onkeypress="verificar(event)" required value="<%= usuario.Contrase単a %>">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar contrase単a:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" onkeypress="verificar(event)" required value="<%= usuario.Contrase単a %>">
            </div>
            <button type="submit" onsubmit="return validarEditarCuenta()">Guardar cambios</button>
        </form>
        <a href="/views/cuenta" class="btn-regresar" >Cancelar</a>
    </div>
</body>
</html>