<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-form">
        <form id="loginForm" class="formulario" action="/iniciarSs" method="POST">
            <h2>Iniciar Sesión</h2>
            <% if (registered) { %>
                <p>Cuenta creada. Ahora inicia sesión.</p>
            <% } %>
            <% if (error) { %>
                <p><%= error %></p>
            <% } %>
            <div class="input-group">
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Empieza a Comprar!</button>
        </form>
        <h3>No tienes cuenta? <a href="/crearAcc">Regístrate aquí</a></h3>
    </div>
    <a href="/">Regresar a la tienda</a>
</body>
</html>